* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 50px;
}

button {
  margin: 10px;
  padding: 5px 10px;
}

#arrow {
  position: absolute;
  width: 40px;
  height: 40px;
  visibility: hidden;
  /* left: 0;
  top: 0; */
}

.square {
  border: 1px solid black;
  width: 40px;
  height: 40px;
}

#board {
  /* border: 1px solid black; */
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.x4 {
  width: 160px;
  height: 160px;
}

.x5 {
  width: 200px;
  height: 200px;
}

.x6 {
  width: 240px;
  height: 240px;
}

.x7 {
  width: 280px;
  height: 280px;
}

.x8 {
  width: 320px;
  height: 320px;
}

.x9 {
  width: 360px;
  height: 360px;
}

.x10 {
  width: 400px;
  height: 400px;
}

.x11 {
  width: 440px;
  height: 440px;
}

.x12 {
  width: 480px;
  height: 480px;
}

.x13 {
  width: 520px;
  height: 520px;
}

.x14 {
  width: 560px;
  height: 560px;
}

.x15 {
  width: 600px;
  height: 600px;
}

.x16 {
  width: 640px;
  height: 640px;
}
